<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.shopmall.framework">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <service android:name="com.example.shopmall.framework.service.ShopMallService"/>
    </application>
</manifest>


