<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.shopmall.shopmall1710a">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/community_default_user_icon"
            android:label="硅谷Mall"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:launchMode="singleTask"
                android:name=".login.view.BetterLoginActivity">

        </activity>
        <activity android:name=".login.view.BetterRegisterActivity"/>
        <activity android:name=".main.view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:launchMode="singleTask"
                android:name=".main.view.activity.WelcomeActivity">

        </activity>
        <activity android:name=".main.view.activity.GoodDetailActivity"/>

        <service android:name="com.example.shopmall.framework.services.ShopMallService"/>

    </application>

</manifest>